body {
  font-family: 'Roboto', "Helvetica Neue", Helvetica, sans-serif;
}

#app{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
}

a {
  text-decoration: none;
  color: black;
}

a:hover{
  text-decoration: none;
  color: orange
}

button {
  background-color: orange;
  border-radius: 7px;
  color: white;
  font-size: 14px;
  margin-top: 10px;
  padding: 2px 5px 2px 5px;
}

label {
  display: block;
}


form div {
  margin: 1em;
  display: inline-block;
}

form label {
  font-size: 16px;
}

form input {
  width: 175px;
  border-radius: 4px;
  padding: 2px 5px 2px 5px;
}

h5{
  color:#767676;
  font-size: 11px;
}

/*NAVBAR CSS*/
#navbar{
  background-image: url("wood-background.jpg");
  color: white;
  font-weight: normal;
  padding-bottom: 5px;
  width: 100vw;
  top: 0px;
}

#navbar a{
  color: white;
  text-decoration: none;
  font-weight: normal;
}

#navbar a:hover{
  text-decoration: none;
  color: orange
}

/*wide navbar*/
@media (min-width: 1200px) {
  #navbar {
    font-size: 22px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 5px;
  }

  #nav-title {
    padding: 5px;
    margin-left: 10vw;
  }

  #nav-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 10vw;
    padding: 5px;
  }

  .nav-item {
    font-size: 16px;
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
  }
}

/*narrow navbar*/
@media (max-width: 1200px) {
  #navbar {
    font-size: 19px;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    justify-content: space-around;
    margin-bottom: 10px;
  }

  #nav-title {
    padding: 5px;
    text-align: center;
    margin: 0px;
  }

  #nav-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .nav-item {
    font-size: 11px;
    text-align: center;
    padding: 4px;
  }
}

@media (min-width: 700px) and (max-width: 1200px) {
  #navbar {
    font-size: 30px;
  }
  .nav-item {
    margin-left: 15px;
    margin-right: 15px;
    font-size: 20px;
  }
}


/*SIDEBAR CSS*/
  #categoryList {
    width: 270px;
    margin: 0px;
  }

  #category-list {
    list-style-type: none;
    width: 250px;
    padding: 0px;
    margin: 10px;
  }

  .category-item {
    color: #5e5d5d;
  }

/*ALL PRODUCTS CSS*/
#all-products {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: left;
}

.title {
  font-weight: bold;
}

.wholePage{
  margin-left: 5vw;
  margin-right: 5vw;
}

@media (max-width: 700px) {
  .wholePage {
    display: flex;
    flex-direction: column;
    align-content: center;
  }
}

@media (min-width: 700px) {
  .wholePage {
    display: flex;
    flex-direction: row;
    align-content: space-between;
  }
}

/* CSS for pages with centered content */

.page-center {
  text-align: center;
  align-items: center;
  margin-left: 5vw;
  margin-right: 5vw;
 }

 /* CSS for pages with left-aligned content */

 .page-left{
  text-align: left;
  align-items: left;
  margin-left: 5vw;
  margin-right: 5vw;
 }

/*selected category in left sidebar*/
.selected-category {
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 20px;
  color: black
}

/*filter by heading in left sidebar*/
#filter-by {
  font-weight: bold;
  font-size: 18px;
  padding-bottom: 15px;
}

/*category list items inleft sidebar*/
.category-item {
  font-size: 16px;
  padding-top: 10px;
}

.product-card{
  align-items: center;
  justify-content: center;
}

.product-card, #add {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  margin: 10px;
  padding: 10px;
  width: 175px;
  justify-content: flex-start;
  align-content: space-between;
 }

 .product-card-image {
   display: flex;
   flex-direction: column;
   align-content: center;
   justify-content: center;
   background-color: white;
 }

 .product-card-image img {
   max-width: 175px;
   max-height: 175px;
   background-color: white;
   justify-content: center;
   align-content: center;
 }

 /* .product-card-footer {
    color: gray;
 } */

 #homepage {
  background-color: white;
 }

 #homepage img {
   display: block;
   margin-left: auto;
   margin-right: auto;
   margin-top: 15px;
 }

 #single-product {
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   justify-content: center;
 }

 #product-details, #title-and-photo {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: left;
  margin: 10px;
  padding: 10px;
  align-content: center;
 }

 #product-details {
   width: 300px;
 }



 #cart-item{
   margin-bottom: 15px;
 }
