body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

#navbar {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  border: 2px solid black;
  margin: 10px;
  font-size: 22px;
  list-style-type: none;
  overflow: hidden;
  top: 0;
  font-weight: bold;
}

#navbar #loggedIn, #loggedOut {
  font-size: 14px;
}

#navbar li {
  display: flex;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  float: left;
}

#categoryList {
  display: flex;
  border: 2px solid black;
  width: 300px;
  position: relative;
  top: 0px;
  left: 10px;
}

#all-products {
  display: flex;
  border: 2px solid black;
  margin: 20px;
  width: 800px;
  top: 0px;
  left: 0px;
  flex-wrap: wrap;
  flex-direction: row;
}

.wholePage {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}