body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

#navbar {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  border: 2px solid black;
  padding: 10px;
  font-size: 22px;
  list-style-type: none;
  font-weight: bold;
  /* height: 20vw; */
  /* justify-content: space-around; */
  overflow: hidden;
}

#nav-items {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  font-size: 22px;
  list-style-type: none;
  font-weight: bold;
  justify-content: left;
  overflow: hidden;
}

#navbar li {
  display: flex;
  align-content: center;
  justify-content: space-around;
  list-style-type: none;
  padding: 5px;
  height: 50px;
  text-decoration: none;
  float: left;
  font-size: 16px;
}

#categoryList {
  display: flex;
  border: 2px solid black;
  left: 20px;
  width: 20%;
  flex-wrap: wrap;
  flex-direction: column;
}

#category-list {
  list-style-type: none;
}

#all-products {
  display: flex;
  border: 2px solid black;
  flex-wrap: wrap;
  flex-direction: row;
  width: 79.33%;
}

.title {
  font-weight: bold;
}

.wholePage {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.product-card, #add {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: left;
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
  width: 175px;
  justify-content: flex-start;
  align-content: space-between;
 }

 .product-card-image {
   display: flex;
   flex-direction: column;
   align-content: center;
   justify-content: center;
   background-color: white;
 }

 .product-card-image img {
   max-width: 175px;
   max-height: 175px;
   background-color: white;
   justify-content: center;
   align-content: center;
 }

 #homepage {
  background-color: white;
 }

 #homepage img {
   display: block;
   margin-left: auto;
   margin-right: auto;
   margin-top: 10px;
 }

 #single-product {
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   border: 1px solid black;
   justify-content: center;
 }

 #product-details, #title-and-photo {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: left;
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
  align-content: center;
 }

 #product-details {
   width: 300px;
 }

/* how can we make the flour image have a white background instead of clear? */
/* how can we make the number in stock display at the bottom of the product card? */
